.Nav {
  position: fixed;
  width: 100%;
  background-color: #c7c2c2;
  top: 0;
}

.Navbar {
  display: flex;
  justify-content: space-between;
  height: 60px;
}

.title {
  display: flex;
  align-items: center;
  margin-left: 10px;
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.Nav-btns {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.Nav-btns ul {
  list-style: none;
  margin: 0 10px;
  display: flex;
}

.Nav-btns li {
  padding: 0 10px;
}

.Nav-btns a {
  text-decoration: none;
  padding: 0 10px;
  color: black;
}

.Nav-logout {
  border: none;
  background-color: #c7c2c2;
  font-size: 16px;
  cursor: pointer;
}
